absl-py==1.4.0
addict==2.4.0
attrs==23.1.0
beautifulsoup4==4.12.2
certifi==2022.12.7
cffi==1.15.1
charset-normalizer==2.1.1
chumpy==0.70
click==8.1.5
colorama==0.4.6
contourpy==1.0.7
coverage==7.2.7
cycler==0.11.0
Cython==3.0.0
decorator==5.1.1
exceptiongroup==1.1.2
filelock==3.9.0
flake8==6.0.0
flatbuffers==23.5.26
fonttools==4.39.4
idna==3.4
importlib-metadata==6.8.0
iniconfig==2.0.0
interrogate==1.5.0
isort==4.3.21
Jinja2==3.1.2
json-tricks==3.17.1
jsonpath-ng==1.5.3
kiwisolver==1.4.4
Markdown==3.4.3
markdown-it-py==3.0.0
MarkupSafe==2.1.2
matplotlib==3.7.1
mccabe==0.7.0
mdurl==0.1.2
mediapipe==0.10.1
mmcv==2.0.1
mmengine==0.8.2
model-index==0.1.11
mpmath==1.2.1
munkres==1.1.4
networkx==3.0
numpy==1.24.1
opencv-contrib-python==4.7.0.72
opencv-python==4.7.0.72
opendatalab==0.0.9
openmim==0.3.9
ordered-set==4.1.0
packaging==23.1
pandas==2.0.2
parameterized==0.9.0
Pillow==9.3.0
platformdirs==3.9.1
pluggy==1.2.0
ply==3.11
protobuf==3.20.3
py==1.11.0
pycocotools==2.0.6
pycodestyle==2.10.0
pycparser==2.21
pycryptodome==3.18.0
pyflakes==3.0.1
Pygments==2.15.1
pynput==1.7.6
pyparsing==3.0.9
pyserial==3.5
pytest==7.4.0
pytest-runner==6.0.0
python-dateutil==2.8.2
python-dotenv==1.0.0
pytz==2023.3
pywin32==306
PyYAML==6.0.1
pyzmq==25.1.0
regex==2023.6.3
requests==2.28.1
rich==13.4.2
scipy==1.10.1
shapely==2.0.1
six==1.16.0
sounddevice==0.4.6
soupsieve==2.4.1
svgpath2mpl==1.0.0
svgpathtools==1.6.1
svgwrite==1.4.3
sympy==1.11.1
tabulate==0.9.0
termcolor==2.3.0
terminaltables==3.1.10
toml==0.10.2
tomli==2.0.1
torch==2.0.1+cu117
torchaudio==2.0.2+cu117
torchvision==0.15.2+cu117
tqdm==4.65.0
typing_extensions==4.4.0
tzdata==2023.3
urllib3==1.26.13
xdoctest==1.1.1
xtcocotools==1.13
yapf==0.40.1
zipp==3.16.2
zmq==0.0.0
